# Python / Flask
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
*.log

# DB local y backups
instance/
*.db
*.db-*
*.bak
*.sqlite3
.paste12.log
.paste12.pid

# Entornos
venv/
.venv/

# SO / editores
.DS_Store
.idea/
.vscode/
*.swp

# Backups y scripts locales
*.bak.*
render.yaml.bak.*
fix_*.sh
instance/*.db
instance/*.sqlite
*.pyc
front_clean_index.sh
front_restore_ui.sh
patch_backend_views_and_admin.sh
patch_viewlog_insert_day.sh
patch_viewlog_unique_v2.sh
