# Python / Flask
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.env
*.log

# DB local y backups
instance/
*.db
*.db-*
*.bak
*.sqlite3
.paste12.log
.paste12.pid

# Entornos
venv/
.venv/

# SO / editores
.DS_Store
.idea/
.vscode/
*.swp
